@model ServiceSystem.Web.Areas.Public.Models.OrderStatus.OrderSearchViewModel
<h3>Please enter the code of your order. You could find it on your slip</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-inline">
        @Html.LabelFor(model => model.UserInput, "Code", new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.UserInput, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserInput, "", new { @class = "text-danger" })
        <input type="submit" value="Search" class="btn btn-info"/>
    </div>
}
<p class="text-warning">@(Model==null?"":@Model.Result)</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
