@model ServiceSystem.Web.ViewModels.Order.OrderViewModel
<h2>Order @Model.Id</h2>
@Html.Partial("_OrderViewPartial", Model)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="panel panel-info">
            <div class="panel-heading">Problem</div>
            <div class="panel-body">@Html.EditorFor(m => m.ProblemDescription, new { htmlAttributes = new { @class = "form-control" } })</div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Solution</div>
            <div class="panel-body">@Html.EditorFor(m => m.Solution, new { htmlAttributes = new { @class = "form-control" } })</div>
            <div>@Html.ValidationMessageFor(m => m.Solution)</div>
        </div>

        <div class="row">
            <div class="form-group col-md-3">
                @Html.LabelFor(m => m.WarrantyStatus): @Html.EnumDropDownListFor(m => m.WarrantyStatus, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(m => m.Status): @Html.EnumDropDownListFor(m => m.Status, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-5">
                @Html.LabelFor(m => m.LabourPrice): @Html.EditorFor(m => m.LabourPrice, new { htmlAttributes = new { @class = "form-control" } }) BGN
            </div>
            <div class="form-group col-md-1">
                <input type="submit" value="Save" class="btn btn-primary form-control" />
            </div>
        </div>
    </div>
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
